
#search-container {
    /* background-color: rgb(68, 68, 68); */
    padding: 6px;
    border-radius: 25px;
}

#search-form {
    /* background-color: rgb(68, 68, 68); */
    border: none;
}

#loginBtn {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    padding: 6px 12px;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

#bg-img {
  background-image: url("https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa") !important;
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
}

#artist-info {
  background-image: url("https://i.guim.co.uk/img/media/b1a95b419f4d6f430bf440ccb7d64c8b3557ead4/0_127_1080_648/master/1080.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=280a9c44e8a36ee247537d1e74368f4f");
  background-size: cover;
}